@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
body {
  font: 100% Fraunces, serif;
  color: #494949;
}

.title-component {
  color: #576f72;
}

h1 {
  font-size: 90px;
  font-style: italic;
  font-weight: 457;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 50, "WONK" 0.51;
}

.sub-heading {
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}

.sub-heading-second {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

.body-text-1 {
  font-size: 26px;
}

.body-text-2 {
  font-size: 24px;
}

.body-text-3 {
  font-size: 22px;
}

.body-text-4 {
  font-size: 20px;
}

.body-text-5 {
  font-size: 18px;
}

.body-text-6 {
  font-size: 16px;
}

hr {
  margin-top: 70px;
  margin-bottom: 32px;
}

button {
  border-radius: 40px;
  height: 62px;
  width: 195px;
  text-align: center;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: Fraunces;
  background: #576f72;
  color: #ffffff;
}
button:hover {
  background-color: #7d9d9c;
  color: #ededed;
}

.color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.color .color-primary {
  background-color: #576f72;
  width: 200px;
  height: 200px;
}
.color .color-secondary {
  background-color: #7d9d9c;
  width: 200px;
  height: 200px;
}
.color .color-third {
  background-color: #e4dccf;
  width: 200px;
  height: 200px;
}
.color .color-fourth {
  background-color: #f0ebe3;
  width: 200px;
  height: 200px;
}
.color .color-black {
  background-color: #494949;
  width: 200px;
  height: 200px;
}
.color .color-white {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border: 2px solid #494949;
}
.color .color-gray {
  background-color: #bcbcbc;
  width: 200px;
  height: 200px;
}
.color .color-gray-white {
  background-color: #ededed;
  width: 200px;
  height: 200px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1, 5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.themed-container {
  background-color: gray;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 46px;
}
.navbar .navbar-content {
  display: flex;
  gap: 32px;
}
.navbar .navbar-content .active {
  font-weight: 700;
  color: #576f72;
}
.hero {
  padding-top: 60px;
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-content .hero-title p {
  margin-bottom: 6px;
  color: #7d9d9c;
}
.hero .hero-content .hero-title h1 {
  margin-bottom: 32px;
  color: #576f72;
}
.hero .hero-content .hero-image img {
  width: 576px;
  height: 432px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: #576f72;
  padding: 70px;
}
.footer .footer-content h3 {
  margin-top: 16px;
  color: #ffffff;
}
.footer .footer-content h5 {
  margin-top: 16px;
  color: #bcbcbc;
}
.footer .footer-content button {
  margin-top: 40px;
  background-color: #ffffff;
  color: #576f72;
}
.footer .footer-content .footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.footer .footer-content .footer-image p {
  color: #ffffff;
}
.footer .footer-content .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.footer .footer-content .footer-bottom p {
  color: #ffffff;
}
.footer .footer-content .footer-bottom .footer-sosmed {
  display: flex;
  gap: 16px;
}/*# sourceMappingURL=main.css.map */