@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");
body {
  font: 100% Fraunces, serif;
  color: #494949;
}

.title-component {
  color: #576f72;
}

.h1 {
  font-size: 90px;
  font-style: italic;
  font-weight: 457;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 50, "WONK" 0.51;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 64px;
  }
}

h1 {
  font-size: 64px;
}

.sub-heading {
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}

.sub-heading-second {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}

h2 {
  font-size: 48px;
}
@media (max-width: 796px) {
  h2 {
    font-size: 42px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-size: 40px;
}
@media (max-width: 796px) {
  h3 {
    font-size: 34px;
  }
}
@media (max-width: 480px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 32px;
}
@media (max-width: 796px) {
  h4 {
    font-size: 26px;
  }
}
@media (max-width: 480px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  font-size: 24px;
}
@media (max-width: 796px) {
  h5 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-size: 16px;
}
@media (max-width: 796px) {
  h6 {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  h6 {
    font-size: 10px;
  }
}

.body-text-1 {
  font-size: 26px;
}
@media (max-width: 796px) {
  .body-text-1 {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .body-text-1 {
    font-size: 18px;
  }
}

.body-text-2 {
  font-size: 24px;
}
@media (max-width: 796px) {
  .body-text-2 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .body-text-2 {
    font-size: 16px;
  }
}

.body-text-3 {
  font-size: 22px;
}
@media (max-width: 796px) {
  .body-text-3 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .body-text-3 {
    font-size: 14px;
  }
}

.body-text-4 {
  font-size: 20px;
}
@media (max-width: 796px) {
  .body-text-4 {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .body-text-4 {
    font-size: 12px;
  }
}

.body-text-5 {
  font-size: 18px;
}
@media (max-width: 796px) {
  .body-text-5 {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .body-text-5 {
    font-size: 10px;
  }
}

.body-text-6 {
  font-size: 16px;
}
@media (max-width: 796px) {
  .body-text-6 {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .body-text-6 {
    font-size: 8px;
  }
}

hr {
  margin-top: 70px;
  margin-bottom: 32px;
}

.mr-32 {
  margin-right: 32px;
}

button {
  border-radius: 40px;
  height: 62px;
  width: 195px;
  text-align: center;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: Fraunces;
  background: #576f72;
  color: #ffffff;
}
button:hover {
  background-color: #7d9d9c;
  color: #ededed;
}

.color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.color .color-primary {
  background-color: #576f72;
  width: 200px;
  height: 200px;
}
.color .color-secondary {
  background-color: #7d9d9c;
  width: 200px;
  height: 200px;
}
.color .color-third {
  background-color: #e4dccf;
  width: 200px;
  height: 200px;
}
.color .color-fourth {
  background-color: #f0ebe3;
  width: 200px;
  height: 200px;
}
.color .color-black {
  background-color: #494949;
  width: 200px;
  height: 200px;
}
.color .color-white {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border: 2px solid #494949;
}
.color .color-gray {
  background-color: #bcbcbc;
  width: 200px;
  height: 200px;
}
.color .color-gray-white {
  background-color: #ededed;
  width: 200px;
  height: 200px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-s-md,
.container-sm,
.container-ssm {
  width: 100%;
  padding-right: calc(var(1.5rem) * 0.5);
  padding-left: calc(var(1.5rem) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 320px) {
  .container-ssm,
  .container {
    max-width: 320px;
  }
}
@media (min-width: 540px) {
  .container-ssm,
  .container-s-md,
  .container {
    max-width: 480px;
  }
}
@media (min-width: 576px) {
  .container-sm,
  .container-ssm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.container-left,
.container-left-fluid,
.container-left-xxl,
.container-left-xl,
.container-left-lg,
.container-left-md,
.container-left-sm {
  --bs-gutter-x: 1, 5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-left-sm,
  .container-left {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-left-lg,
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-left-xl,
  .container-left-lg,
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-left-xxl,
  .container-left-xl,
  .container-left-lg,
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 1320px;
  }
}
.themed-container {
  background-color: gray;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 46px;
}
.navbar .navbar-content {
  display: flex;
  gap: 32px;
}
.navbar .navbar-content .active {
  font-weight: 700;
  color: #576f72;
  text-decoration: underline;
}
.navbar .navbar-content h5:hover {
  font-weight: 700;
  color: #576f72;
  text-decoration: underline;
}
@media (max-width: 320px) {
  .navbar .navbar-content h5 {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar .navbar-content h5 {
    display: none;
  }
}
@media (max-width: 796px) {
  .navbar .navbar-content h5 {
    display: none;
  }
}
@media (max-width: 320px) {
  .navbar .navbar-content {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar .navbar-content {
    display: none;
  }
}
@media (max-width: 796px) {
  .navbar .navbar-content {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar .navbar-button {
    display: none;
  }
}
@media (max-width: 796px) {
  .navbar .navbar-button {
    display: none;
  }
}
.navbar .nav-mobile {
  display: none;
}
.navbar #nav-toggle {
  cursor: pointer;
  padding-right: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 796px) {
  .navbar #nav-toggle {
    display: block;
  }
}
.navbar #nav-toggle span,
.navbar #nav-toggle span:before,
.navbar #nav-toggle span:after {
  cursor: pointer;
  border-radius: 32px;
  height: 5px;
  width: 35px;
  background: #576f72;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
.navbar #nav-toggle span:before {
  top: -10px;
}
.navbar #nav-toggle span:after {
  bottom: -10px;
}
.navbar #nav-toggle.active span {
  background-color: transparent;
}
.navbar #nav-toggle.active span:before, .navbar #nav-toggle.active span:after {
  top: 0;
}
.navbar #nav-toggle.active span:before {
  transform: rotate(45deg);
}
.navbar #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 796px) {
  .navbar .nav-list {
    display: block !important;
  }
}
.navbar nav {
  float: right;
}
.navbar nav ul {
  list-style: none;
}
.navbar nav ul li {
  float: left;
}
.navbar nav ul li a {
  display: block;
  text-decoration: none;
}
.navbar nav ul li a:hover {
  color: #576f72;
  text-decoration: underline;
  font-weight: 700;
}
.navbar nav ul li .active {
  color: #576f72;
  text-decoration: underline;
  font-weight: 700;
}
.navbar nav ul li ul li {
  min-width: 190px;
}
.navbar nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
@media only screen and (max-width: 796px) {
  .navbar .nav-mobile {
    display: block;
  }
  .navbar nav {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
  }
  .navbar nav ul {
    display: none;
    margin-top: 16px;
  }
  .navbar nav ul li {
    float: none;
    background-color: #576f72;
    width: 100%;
    z-index: 9999;
  }
  .navbar nav ul li a {
    padding: 24px;
    line-height: 20px;
  }
  .navbar nav ul li a:hover::before {
    width: 20%;
  }
  .navbar nav ul li a h5 {
    color: #e4dccf;
  }
  .navbar nav ul li ul li a {
    padding-left: 30px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: #576f72;
  padding: 70px;
  margin-top: 120px;
}
.footer .footer-content h3 {
  margin-top: 16px;
  color: #ffffff;
}
@media (max-width: 1240px) {
  .footer .footer-content h3 {
    font-size: 24px;
  }
}
.footer .footer-content h5 {
  margin-top: 16px;
  color: #bcbcbc;
}
@media (max-width: 1240px) {
  .footer .footer-content h5 {
    font-size: 16px;
  }
}
.footer .footer-content button {
  margin-top: 40px;
  background-color: #ffffff;
  color: #576f72;
}
@media (max-width: 1240px) {
  .footer .footer-content button {
    font-size: 16px;
    height: 32px;
    width: 100px;
  }
}
.footer .footer-content button:hover {
  background-color: #7d9d9c;
  color: #ffffff;
}
.footer .footer-content .footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1240px) {
  .footer .footer-content .footer-image {
    flex-wrap: wrap;
  }
}
@media (max-width: 1240px) {
  .footer .footer-content .footer-image img {
    width: 80px;
  }
}
.footer .footer-content .footer-image p {
  color: #ffffff;
}
.footer .footer-content .footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .footer .footer-content .footer-bottom {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.footer .footer-content .footer-bottom p {
  color: #ffffff;
}
.footer .footer-content .footer-bottom .footer-sosmed {
  display: flex;
  gap: 16px;
}
@media (max-width: 480px) {
  .footer .footer-content .footer-bottom .footer-sosmed {
    margin-top: 32px;
  }
}

.form {
  margin-top: 100px;
}
.form .form-label {
  color: #494949;
}
.form .form-control {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.form .form-control .form-label {
  color: #494949;
  font-size: 20px;
}
.form .form-control input[type=text],
.form .form-control input[type=email],
.form .form-control input[type=password],
.form .form-control input[type=number],
.form .form-control input {
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
  width: 100%;
  line-height: 46px;
  box-sizing: border-box;
  color: #494949;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #ededed;
  font-family: Fraunces, serif;
  font-size: 20px;
  margin-top: 8px;
}
.form .form-control input::-moz-placeholder {
  font-size: 20px;
  color: #bcbcbc;
}
.form .form-control input::placeholder {
  font-size: 20px;
  color: #bcbcbc;
}
.form .form-control input:focus {
  border: 2.5px solid #576f72;
}
.form .form-control textarea {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  color: #494949;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #ededed;
  font-family: Fraunces, serif;
  height: 200px;
  margin-top: 8px;
}
.form .form-control textarea::-moz-placeholder {
  font-size: 20px;
  color: #bcbcbc;
}
.form .form-control textarea::placeholder {
  font-size: 20px;
  color: #bcbcbc;
}
.form .form-control textarea:focus {
  border: 2.5px solid #576f72;
}
.form .form-control .inner-form {
  flex-wrap: wrap;
  align-items: stretch;
}
.form .form-control .inner-form span {
  z-index: 1;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 26px;
  font-size: 20px;
}
.form .form-control .inner-form span i img {
  width: 32px;
  height: 32px;
  color: #576f72;
}
.form .form-control .inner-form.left-icon {
  display: flex;
  justify-content: flex-end;
}
.form .form-control .inner-form.right-icon {
  display: flex;
  justify-content: flex-start;
}
.form .form-control .inner-form .input-right-icon {
  position: relative;
  padding-left: 40px;
}
.form .form-control .inner-form .input-left-icon {
  position: relative;
  padding-right: 40px;
  float: right;
  width: 100%;
}
.form .button-form {
  height: 62px;
  width: 100%;
  border-radius: 16px;
  padding: 16px 32px 16px 32px;
  margin-top: 64px;
}

.form-contact {
  display: flex;
  width: 100%;
  gap: 32px;
}
@media (max-width: 480px) {
  .form-contact {
    flex-direction: column;
    gap: 0;
  }
}
.form-contact .form-control {
  width: 100%;
}

.hero {
  padding-top: 60px;
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 796px) {
  .hero .hero-content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 60px;
  }
}
.hero .hero-content .hero-title {
  max-width: 50%;
}
@media (max-width: 1024px) {
  .hero .hero-content .hero-title {
    max-width: 100%;
  }
}
.hero .hero-content .hero-title p {
  margin-bottom: 6px;
  color: #7d9d9c;
}
@media (max-width: 480px) {
  .hero .hero-content .hero-title p {
    text-align: center;
  }
}
@media (max-width: 796px) {
  .hero .hero-content .hero-title p {
    text-align: center;
  }
}
.hero .hero-content .hero-title h1 {
  margin-bottom: 32px;
  color: #576f72;
}
@media (max-width: 480px) {
  .hero .hero-content .hero-title h1 {
    text-align: center;
  }
}
@media (max-width: 796px) {
  .hero .hero-content .hero-title h1 {
    text-align: center;
  }
}
.hero .hero-content .hero-image img {
  width: 100%;
  height: 432px;
}
@media (max-width: 796px) {
  .hero .hero-content .hero-image img {
    width: 100%;
    height: 100%;
  }
}

.hero-content-first {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.hero-content-first .wrapper-content-one {
  display: flex;
}
@media (max-width: 480px) {
  .hero-content-first .wrapper-content-one {
    flex-wrap: wrap;
  }
}
@media (max-width: 796px) {
  .hero-content-first .wrapper-content-one {
    flex-wrap: wrap;
  }
}
@media (max-width: 1240px) {
  .hero-content-first .wrapper-content-one {
    flex-wrap: wrap;
  }
}
.hero-content-first .wrapper-content-one .title-content {
  max-width: 70%;
}
@media (max-width: 480px) {
  .hero-content-first .wrapper-content-one .title-content {
    max-width: 100%;
  }
}
@media (max-width: 796px) {
  .hero-content-first .wrapper-content-one .title-content {
    max-width: 100%;
  }
}
.hero-content-first .wrapper-content-one .title-content h5 {
  font-weight: 600;
}
.hero-content-first .wrapper-content-one .title-content h1 {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}
@media (max-width: 796px) {
  .hero-content-first .wrapper-content-one .title-content h1 {
    font-size: 40px;
    max-width: 100%;
  }
}
.hero-content-first .wrapper-content-one .title-content .text-title {
  color: #bcbcbc;
  font-weight: 400;
  margin-bottom: 24px;
}
@media (max-width: 796px) {
  .hero-content-first .wrapper-content-one .title-content .text-title {
    font-size: 16px;
  }
}
.hero-content-first .wrapper-content-one .title-content .content-text {
  color: #7d9d9c;
}
.hero-content-first .wrapper-content-one .title-content .title-button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero-content-first .wrapper-content-one .title-content .title-button img {
  width: 24px;
  height: 24px;
}
.hero-content-first .wrapper-content-one .title-content .title-button p {
  font-weight: 600;
  color: #576f72;
}
.hero-content-first .wrapper-content-one .card-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 480px) {
  .hero-content-first .wrapper-content-one .card-content {
    margin-top: 32px;
  }
}
@media (max-width: 796px) {
  .hero-content-first .wrapper-content-one .card-content {
    margin-top: 32px;
  }
}
@media (max-width: 1240px) {
  .hero-content-first .wrapper-content-one .card-content {
    margin-top: 32px;
  }
}
.hero-content-first .wrapper-content-one .card-content .wrapper-card .card-profile {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.hero-content-first .wrapper-content-one .card-content .wrapper-card .card-profile img {
  width: 64px;
  height: 64px;
}
.hero-content-first .wrapper-content-one .card-content .wrapper-card .card-profile .card-title .prfile-name {
  font-weight: 600;
}
.hero-content-first .wrapper-content-one .card-content .wrapper-card .card-profile .card-title .profile-job {
  color: #576f72;
}
.hero-content-first .wrapper-content-one .card-content .wrapper-card .desc-card {
  color: #bcbcbc;
}
.hero-content-first .wrapper-content-two {
  margin-top: 70px;
}
.hero-content-first .wrapper-content-two .wrapper-image img {
  width: 100%;
  height: 100%;
}
@media (max-width: 480px) {
  .hero-content-first .wrapper-content-two .wrapper-image img {
    display: none;
  }
}
.hero-content-first .wrapper-content-two .wrapper-image .sosmed {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  z-index: 1;
  margin-left: 32px;
  margin-top: -137px;
}
@media (max-width: 796px) {
  .hero-content-first .wrapper-content-two .wrapper-image .sosmed {
    margin-top: -100px;
  }
}
.hero-content-first .wrapper-content-two .wrapper-image .sosmed .sosmed-text p {
  font-weight: 600;
  color: #ffffff;
}
.hero-content-first .wrapper-content-two .wrapper-image .sosmed .sosmed-image {
  display: flex;
  gap: 28px;
}
.hero-content-first .wrapper-content-two .wrapper-image .sosmed .sosmed-image img {
  width: 63px;
  height: 63px;
}
@media (max-width: 796px) {
  .hero-content-first .wrapper-content-two .wrapper-image .sosmed .sosmed-image img {
    width: 40px;
    height: 40px;
  }
}

.hero-content-second {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.hero-content-second .wrapper-content-second .title-content {
  max-width: 70%;
}
@media (max-width: 796px) {
  .hero-content-second .wrapper-content-second .title-content {
    max-width: 100%;
  }
}
.hero-content-second .wrapper-content-second .title-content h5 {
  font-weight: 600;
}
.hero-content-second .wrapper-content-second .title-content h1 {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}
@media (max-width: 796px) {
  .hero-content-second .wrapper-content-second .title-content h1 {
    font-size: 40px;
    max-width: 100%;
  }
}
.hero-content-second .wrapper-content-second .title-content .text-title {
  color: #bcbcbc;
  font-weight: 400;
  margin-bottom: 24px;
}
@media (max-width: 796px) {
  .hero-content-second .wrapper-content-second .title-content .text-title {
    font-size: 16px;
  }
}
.hero-content-second .wrapper-content-second .title-content .content-text {
  color: #7d9d9c;
}
.hero-content-second .wrapper-content-card {
  margin-top: 90px;
}
.hero-content-second .wrapper-content-card hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px #bcbcbc solid;
}
.hero-content-second .wrapper-content-card .wrapper-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .hero-content-second .wrapper-content-card .wrapper-card {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 796px) {
  .hero-content-second .wrapper-content-card .wrapper-card {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1240px) {
  .hero-content-second .wrapper-content-card .wrapper-card {
    flex-wrap: wrap;
  }
}
.hero-content-second .wrapper-content-card .wrapper-card img {
  width: 400px;
  height: 150px;
}
@media (max-width: 1240px) {
  .hero-content-second .wrapper-content-card .wrapper-card img {
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
  }
}
.hero-content-second .wrapper-content-card .wrapper-card h3 {
  font-weight: 700;
}
@media (max-width: 1240px) {
  .hero-content-second .wrapper-content-card .wrapper-card h3 {
    margin-bottom: 32px;
  }
}

.hero-content-third {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.hero-content-third .wrapper-content-third .title-content {
  max-width: 70%;
}
@media (max-width: 796px) {
  .hero-content-third .wrapper-content-third .title-content {
    max-width: 100%;
  }
}
.hero-content-third .wrapper-content-third .title-content h5 {
  font-weight: 600;
}
.hero-content-third .wrapper-content-third .title-content h1 {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}
@media (max-width: 796px) {
  .hero-content-third .wrapper-content-third .title-content h1 {
    font-size: 40px;
    max-width: 100%;
  }
}
.hero-content-third .wrapper-content-third .title-content .text-title {
  color: #bcbcbc;
  font-weight: 400;
  margin-bottom: 24px;
}
@media (max-width: 796px) {
  .hero-content-third .wrapper-content-third .title-content .text-title {
    font-size: 16px;
  }
}
.hero-content-third .wrapper-content-third .title-content .content-text {
  color: #7d9d9c;
}
.hero-content-third .wrapper-content-third .wrapper-content-card {
  margin-top: 125px;
}
.hero-content-third .wrapper-content-third .wrapper-content-card .content-card {
  display: flex;
  gap: 24px;
}
.hero-content-third .wrapper-content-third .wrapper-content-card .content-card img {
  width: 386px;
  height: 386px;
}
.hero-content-third .wrapper-content-third .button-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.hero-content-third .wrapper-content-third .button-content button {
  width: 291px;
}

.hero-banner-porto .text-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20vh;
}
@media (max-width: 1024px) {
  .hero-banner-porto .text-title {
    margin-top: 64px;
  }
}
@media (max-width: 796px) {
  .hero-banner-porto .text-title {
    margin-top: 90px;
  }
}
@media (max-width: 480px) {
  .hero-banner-porto .text-title {
    margin-top: 40px;
  }
}
.hero-banner-porto .text-title h5 {
  color: #ffffff;
}
.hero-banner-porto .text-title h1 {
  font-size: 100px;
  font-weight: 600;
  color: #ffffff;
  line-height: 123.3px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero-banner-porto .text-title h1 .text-span {
  color: #dcb21d;
}
@media (max-width: 1024px) {
  .hero-banner-porto .text-title h1 {
    font-size: 64px;
    line-height: 90px;
  }
}
@media (max-width: 796px) {
  .hero-banner-porto .text-title h1 {
    font-size: 50px;
    line-height: 80px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media (max-width: 480px) {
  .hero-banner-porto .text-title h1 {
    font-size: 24px;
    line-height: 38px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.hero-banner-porto .text-title h4 {
  color: #bcbcbc;
  font-style: italic;
  line-height: 39px;
}
@media (max-width: 1024px) {
  .hero-banner-porto .text-title h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 796px) {
  .hero-banner-porto .text-title h4 {
    font-size: 18px;
    line-height: 32px;
  }
}
@media (max-width: 480px) {
  .hero-banner-porto .text-title h4 {
    font-size: 9px;
    line-height: 24px;
  }
}
.hero-banner-porto img {
  height: 100%;
  width: 100%;
}

.hero-content-project {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
@media (max-width: 796px) {
  .hero-content-project {
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  .hero-content-project {
    margin-top: 64px;
  }
}
@media (max-width: 796px) {
  .hero-content-project .wrapper-content-project .title-content {
    max-width: 100%;
  }
}
.hero-content-project .wrapper-content-project .title-content h5 {
  font-weight: 600;
}
.hero-content-project .wrapper-content-project .title-content h1 {
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 16px;
}
@media (max-width: 796px) {
  .hero-content-project .wrapper-content-project .title-content h1 {
    font-size: 40px;
    max-width: 100%;
  }
}
.hero-content-project .wrapper-content-project .title-content .text-title {
  color: #bcbcbc;
  font-weight: 400;
  margin-bottom: 24px;
  max-width: 70%;
}
@media (max-width: 796px) {
  .hero-content-project .wrapper-content-project .title-content .text-title {
    font-size: 16px;
  }
}
.hero-content-project .wrapper-content-project .title-content .content-text {
  color: #7d9d9c;
}
.hero-content-project .wrapper-content-project .wrapper-content-card {
  margin-top: 64px;
}
.hero-content-project .wrapper-content-project .wrapper-content-card .content-card {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.hero-content-project .wrapper-content-project .wrapper-content-card .content-card img {
  width: 386px;
  height: 386px;
}
.hero-content-project .wrapper-content-project .button-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.hero-content-project .wrapper-content-project .button-content button {
  width: 291px;
}

.wrapper-contact {
  margin-top: 100px;
}
.wrapper-contact .title-contact h2 {
  font-weight: 700;
}
.wrapper-contact .title-contact p {
  margin-top: 16px;
  color: #bcbcbc;
}
.wrapper-contact .title-contact .sosmed-image {
  margin-top: 60px;
  display: flex;
  gap: 28px;
}
.wrapper-contact .title-contact .sosmed-image img {
  width: 63px;
  height: 63px;
}
.splide {
  margin-top: 64px;
}
.splide .splide__track .splide__list .splide__slide .splide__slide__container img {
  width: 100%;
  height: 100%;
}

.main-profile .profile-content .profile-banner img {
  width: 100%;
  height: 100%;
}
.main-profile .profile-content .profile-content-image {
  display: flex;
}
@media (max-width: 1024px) {
  .main-profile .profile-content .profile-content-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.main-profile .profile-content .profile-content-image .profile-photo {
  position: absolute;
  margin-top: -200px;
}
.main-profile .profile-content .profile-content-image .profile-photo img {
  width: 387px;
  height: 387px;
}
@media (max-width: 1024px) {
  .main-profile .profile-content .profile-content-image .profile-photo {
    position: static;
    margin-top: -150px;
  }
  .main-profile .profile-content .profile-content-image .profile-photo img {
    width: 287px;
    height: 287px;
  }
}
@media (max-width: 796px) {
  .main-profile .profile-content .profile-content-image .profile-photo {
    position: static;
    margin-top: -80px;
  }
  .main-profile .profile-content .profile-content-image .profile-photo img {
    width: 150px;
    height: 150px;
  }
}
.main-profile .profile-content .profile-content-image .profile-name {
  margin-top: 40px;
  margin-left: 420px;
}
@media (max-width: 1024px) {
  .main-profile .profile-content .profile-content-image .profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 0 !important;
  }
}
.main-profile .profile-content .profile-content-image .profile-name h2 {
  margin-bottom: 8px;
}
.main-profile .profile-content .profile-content-image .profile-name .sosmed-image {
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  gap: 28px;
}
.main-profile .profile-content .profile-content-image .profile-name .sosmed-image img {
  width: 38px;
  height: 38px;
}
.main-profile .profile-content .profile-content-image .profile-name .profile-button {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 1024px) {
  .main-profile .profile-content .profile-content-image .profile-name .profile-button {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}
.main-profile .profile-content .profile-content-image .profile-name .profile-button .button-icon button {
  width: 295px;
  height: 62px;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .main-profile .profile-content .profile-content-image .profile-name .profile-button .button-icon button {
    width: 195px;
    height: 42px;
    font-size: 16px;
  }
}
.main-profile .profile-content .profile-content-image .profile-name .profile-button .button-icon .cv {
  width: 295px;
}
@media (max-width: 1024px) {
  .main-profile .profile-content .profile-content-image .profile-name .profile-button .button-icon .cv {
    width: 195px;
  }
}
.main-profile .profile-content .profile-content-image .profile-name .profile-button .button-icon .text-button {
  border-radius: 8px;
}
.main-profile .profile-content .profile-content-image .profile-name .profile-button .button-icon .text-button img {
  margin-right: 16px;
}
@media (max-width: 1024px) {
  .main-profile .profile-content .profile-content-image .profile-name .profile-button .button-icon .text-button img {
    width: 18px;
    height: 18px;
  }
}
.main-profile .profile-card {
  margin-top: 64px;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  box-shadow: 4px 7px 8px 4px rgba(0, 0, 0, 0.25);
}
.main-profile .profile-card .container-card {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 64px;
  padding-right: 64px;
}
@media (max-width: 1024px) {
  .main-profile .profile-card .container-card {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
.main-profile .profile-card .container-card .title-card {
  font-weight: 600;
}
.main-profile .profile-card .container-card .text-card {
  margin-top: 32px;
}
.main-profile .profile-card .container-card .text-card .text-about {
  text-align: justify;
}
@media (max-width: 480px) {
  .main-profile .profile-card .container-card .text-card .text-about {
    font-size: 12px;
  }
}
.main-profile .profile-card .container-card .content-card-flex {
  display: flex;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .main-profile .profile-card .container-card .content-card-flex {
    margin-top: 32px;
  }
}
.main-profile .profile-card .container-card .content-card-flex .image-content {
  margin-right: 24px;
}
@media (max-width: 1024px) {
  .main-profile .profile-card .container-card .content-card-flex .image-content {
    margin-top: 10px;
    margin-right: 16px;
  }
}
.main-profile .profile-card .container-card .content-card-flex .image-content img {
  width: 100px;
  height: 100px;
}
@media (max-width: 1024px) {
  .main-profile .profile-card .container-card .content-card-flex .image-content img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 480px) {
  .main-profile .profile-card .container-card .content-card-flex .image-content img {
    width: 40px;
    height: 40px;
  }
}
.main-profile .profile-card .container-card .content-card-flex .text-content {
  display: flex;
  flex-direction: column;
}
.main-profile .profile-card .container-card .content-card-flex .text-content h4 {
  font-weight: 600;
}
.main-profile .profile-card .container-card .content-card-flex .text-content h5 {
  margin-top: 4px;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .body-text-4 {
  font-weight: 300;
  margin-top: 8px;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .semi-bold {
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 20px;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .number {
  font-weight: 400;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .desc-text {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-left: 32px;
}
@media (max-width: 1024px) {
  .main-profile .profile-card .container-card .content-card-flex .text-content .desc-text {
    margin-top: 20px;
    margin-left: 16px;
    gap: 10px;
  }
  .main-profile .profile-card .container-card .content-card-flex .text-content .desc-text .body-text-4 {
    margin-top: 0px;
  }
}
.main-profile .profile-card .container-card .content-card-flex .text-content .desc-text li {
  font-weight: 300;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .link-project {
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .link-project p {
  font-size: 20px;
  color: #bcbcbc;
  margin-right: 8px;
}
@media (max-width: 796px) {
  .main-profile .profile-card .container-card .content-card-flex .text-content .link-project p {
    font-size: 14px;
  }
}
.main-profile .profile-card .container-card .content-card-flex .text-content .link-project img {
  margin-top: 2px;
  width: 24px;
  height: 24px;
}
@media (max-width: 796px) {
  .main-profile .profile-card .container-card .content-card-flex .text-content .link-project img {
    margin-top: 3px;
    width: 12px;
    height: 12px;
  }
}
.main-profile .profile-card .container-card .content-card-flex .text-content .image-course {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .image-course .project-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .image-course .project-1 img {
  width: 166px;
  height: 118px;
  transition: transform 0.2s; /* Animation */
}
.main-profile .profile-card .container-card .content-card-flex .text-content .image-course .project-1 img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.main-profile .profile-card .container-card .content-card-flex .text-content .image-course .project-1 a {
  text-decoration: underline;
}
.main-profile .profile-card .container-card .content-card-flex .text-content .image-course .project-1 a:hover {
  color: #7d9d9c;
}
.main-profile .profile-card .container-card hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #bcbcbc;
}

.project-view .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 20px;
}
.project-view .breadcrumb li + li:before {
  color: #7d9d9c;
  content: "/ ";
  font-weight: 600;
}
.project-view .breadcrumb a {
  color: #bcbcbc;
  text-decoration: none;
}
.project-view .breadcrumb a:hover {
  color: #7d9d9c;
  text-decoration: underline;
}
.project-view .breadcrumb .name-project {
  font-weight: 600;
  color: #7d9d9c;
}

.hero-content-project-tes {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
@media (max-width: 796px) {
  .hero-content-project-tes .wrapper-content-project .splide__arrow {
    display: none !important;
    width: 32px;
    height: 32px;
  }
  .hero-content-project-tes .wrapper-content-project .splide__arrow svg {
    width: 16px;
    height: 16px;
  }
}
.hero-content-project-tes .wrapper-content-project .title-content h5,
.hero-content-project-tes .wrapper-content-project .title-content h1 {
  font-weight: 600;
}
.hero-content-project-tes .wrapper-content-project .title-content h1 {
  margin-bottom: 16px;
}
.hero-content-project-tes .wrapper-content-project .title-content .text-title {
  color: #bcbcbc;
  font-weight: 400;
  margin-bottom: 24px;
}
.hero-content-project-tes .wrapper-content-project .title-content .content-text {
  color: #7d9d9c;
}
.hero-content-project-tes .wrapper-content-project .wrapper-content-card {
  margin-top: 64px;
}
.hero-content-project-tes .wrapper-content-project .wrapper-content-card .content-card {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}
.hero-content-project-tes .wrapper-content-project .wrapper-content-card .content-card img {
  width: 1800px;
  height: 386px;
}
.hero-content-project-tes .wrapper-content-project .button-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.hero-content-project-tes .wrapper-content-project .button-content button {
  width: 291px;
}

.container-project-view {
  margin-top: 150px;
}
.container-project-view .content-project-view {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-project-view .content-project-view .image-title img {
  border-radius: 16px;
}
@media (max-width: 480px) {
  .container-project-view .content-project-view .image-title img {
    width: 100px;
    height: 100px;
  }
}
.container-project-view .content-project-view .project-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-project-view .content-project-view .project-title h1 {
  color: #576f72;
  font-weight: 600;
}
@media (max-width: 796px) {
  .container-project-view .content-project-view .project-title h1 {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .container-project-view .content-project-view .project-title h1 {
    font-size: 32px;
  }
}
.container-project-view .content-project-view .project-title h5 {
  color: #bcbcbc;
  font-weight: 600;
}
.container-project-view .content-project-view .sosmed-image {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
.container-project-view .content-project-view .sosmed-image img {
  width: 38px;
  height: 38px;
}
.container-project-view .content-project-view .desc-title p {
  text-align: justify;
}
.container-project-view .content-project-view .ul-title {
  margin-left: 16px;
}
.container-project-view .content-project-view .ul-title ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-project-view .content-project-view .ul-title ul li {
  font-weight: 300;
}
.container-project-view .button-project-view {
  margin-top: 80px;
}
.container-project-view .button-project-view button {
  padding: 16px 32px;
  gap: 32px;
  width: 239px;
  height: 62px;
  background: #576f72;
  border-radius: 16px;
}
@media (max-width: 480px) {
  .container-project-view .button-project-view button {
    width: 100%;
  }
}
.container-project-view .button-project-view button:hover {
  background-color: #7d9d9c;
}/*# sourceMappingURL=main.css.map */