@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");

$font-stack: Fraunces, serif;
$primary-color: #576f72;
$secondary-color: #7d9d9c;
$third-color: #e4dccf;
$fourth-color: #f0ebe3;

$black: #494949;
$white: #ffffff;
$gray: #bcbcbc;

$white-gray: #ededed;

$bp: (
  s-mobile: 320px,
  m-mobile: 375px,
  mobile: 480px,
  tablet: 796px,
  m-tablet: 1024px,
  s-desktop: 1240px,
  desktop: 1440px,
);
$tablet: 796px;

@mixin query($display) {
  @each $key, $value in $bp {
    //  defining max-width
    @if ($display == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}

// TYPOGRAPHY
// ==================================================//
$base-heading-size: 16px;
$heading-scale: 8;
$base-font-size: 16px;
$font-scale: 2;

body {
  font: 100% $font-stack;
  color: $black;
}
.title-component {
  color: $primary-color;
}

.h1 {
  font-size: $base-heading-size + $heading-scale * 9.25;
  font-style: italic;
  font-weight: 457;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 50, "WONK" 0.51;

  // text size  h1
  @include query(m-tablet) {
    font-size: 64px;
  }
}
h1 {
  font-size: 64px;
}

.sub-heading {
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}
.sub-heading-second {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}

@for $i from 2 through 6 {
  h#{$i} {
    font-size: $base-heading-size + $heading-scale * (6 - $i);
    @include query(tablet) {
      $base-heading-size: 10px;
      $heading-scale: 8;
      font-size: $base-heading-size + $heading-scale * (6 - $i);
    }
    @include query(mobile) {
      $base-heading-size: 10px;
      $heading-scale: 4;
      font-size: $base-heading-size + $heading-scale * (6 - $i);
    }
  }
}
@for $i from 1 through 6 {
  .body-text-#{$i} {
    font-size: $base-font-size + $font-scale * (6 - $i);
    @include query(tablet) {
      font-size: $base-font-size + $font-scale * (4 - $i);
    }
    @include query(mobile) {
      font-size: $base-font-size + $font-scale * (2 - $i);
    }
  }
}

hr {
  margin-top: 70px;
  margin-bottom: 32px;
}

.mr-32 {
  margin-right: 32px;
}
// ===============================
// Buttons
button {
  border-radius: 40px;
  height: 62px;
  width: 195px;
  text-align: center;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: Fraunces;
  background: $primary-color;
  color: $white;
  &:hover {
    background-color: $secondary-color;
    color: $white-gray;
  }
}
// COLOR

.color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & &-primary {
    background-color: $primary-color;
    width: 200px;
    height: 200px;
  }
  & &-secondary {
    background-color: $secondary-color;
    width: 200px;
    height: 200px;
  }
  & &-third {
    background-color: $third-color;
    width: 200px;
    height: 200px;
  }
  & &-fourth {
    background-color: $fourth-color;
    width: 200px;
    height: 200px;
  }
  & &-black {
    background-color: $black;
    width: 200px;
    height: 200px;
  }
  & &-white {
    background-color: $white;
    width: 200px;
    height: 200px;
    border: 2px solid $black;
  }
  & &-gray {
    background-color: $gray;
    width: 200px;
    height: 200px;
  }
  & &-gray-white {
    background-color: $white-gray;
    width: 200px;
    height: 200px;
  }
}

//Homepage
// CONTAINER

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-s-md,
.container-sm,
.container-ssm {
  $bs-gutter-x: 1.5rem;
  $bs-gutter-y: 0;

  // --bs-gutter-x: 1, 5rem;
  // --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var($bs-gutter-x) * 0.5);
  padding-left: calc(var($bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 320px) {
  .container-ssm,
  .container {
    max-width: 320px;
  }
}
@media (min-width: 540px) {
  .container-ssm,
  .container-s-md,
  .container {
    max-width: 480px;
  }
}

@media (min-width: 576px) {
  .container-sm,
  .container-ssm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
// ======

.container-left,
.container-left-fluid,
.container-left-xxl,
.container-left-xl,
.container-left-lg,
.container-left-md,
.container-left-sm {
  --bs-gutter-x: 1, 5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-left-sm,
  .container-left {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-left-lg,
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-left-xl,
  .container-left-lg,
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-left-xxl,
  .container-left-xl,
  .container-left-lg,
  .container-left-md,
  .container-left-sm,
  .container-left {
    max-width: 1320px;
  }
}

.themed-container {
  background-color: gray;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}
// NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 46px;

  & &-image {
  }
  & &-content {
    display: flex;
    gap: 32px;
    .active {
      font-weight: 700;
      color: $primary-color;
      text-decoration: underline;
    }
    h5:hover {
      font-weight: 700;
      color: $primary-color;
      text-decoration: underline;
    }
    h5 {
      @include query(s-mobile) {
        display: none;
      }
      @include query(mobile) {
        display: none;
      }
      @include query(tablet) {
        display: none;
      }
    }
    @include query(s-mobile) {
      display: none;
    }
    @include query(mobile) {
      display: none;
    }
    @include query(tablet) {
      display: none;
    }
  }
  & &-button {
    @include query(mobile) {
      display: none;
    }
    @include query(tablet) {
      display: none;
    }
  }
  .nav-mobile {
    display: none;
  }
  #nav-toggle {
    @include query(tablet) {
      display: block;
    }
    cursor: pointer;
    padding-right: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 32px;
      height: 5px;
      width: 35px;
      background: $primary-color;
      position: absolute;
      display: block;
      content: "";
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  @media screen and (min-width: $tablet) {
    .nav-list {
      display: block !important;
    }
  }

  nav {
    float: right;
    ul {
      list-style: none;
      li {
        float: left;
        a {
          display: block;
          text-decoration: none;
        }
        a:hover {
          color: $primary-color;
          text-decoration: underline;
          font-weight: 700;
        }
        .active {
          color: $primary-color;
          text-decoration: underline;
          font-weight: 700;
        }
        // Dropdown list
        ul li {
          min-width: 190px;
          a {
            padding: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $tablet) {
    .nav-mobile {
      display: block;
    }
    nav {
      width: 100%;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      ul {
        display: none;
        margin-top: 16px;
        li {
          float: none;
          background-color: $primary-color;
          width: 100%;
          z-index: 9999;
          a {
            padding: 24px;
            line-height: 20px;

            &:hover::before {
              width: 20%;
            }
            h5 {
              color: $third-color;
            }
          }
          ul li a {
            padding-left: 30px;
          }
        }
      }
    }
  }
}
// FOOTER
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: $primary-color;
  padding: 70px;
  margin-top: 120px;
  @include query(m-desktop) {
    font-size: 50px;
  }
  & &-content {
    h3 {
      margin-top: 16px;
      color: $white;
      @include query(s-desktop) {
        font-size: 24px;
      }
    }
    h5 {
      margin-top: 16px;
      color: $gray;
      @include query(s-desktop) {
        font-size: 16px;
      }
    }
    button {
      margin-top: 40px;
      background-color: $white;
      color: $primary-color;
      @include query(s-desktop) {
        font-size: 16px;
        height: 32px;
        width: 100px;
      }
    }
    button:hover {
      background-color: $secondary-color;
      color: $white;
    }
    .footer-image {
      @include query(s-desktop) {
        flex-wrap: wrap;
      }
      @include query(s-desktop) {
        img {
          width: 80px;
        }
      }
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      p {
        color: $white;
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      flex-wrap: wrap;
      @include query(mobile) {
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      p {
        color: $white;
      }
      .footer-sosmed {
        display: flex;
        gap: 16px;
        @include query(mobile) {
          margin-top: 32px;
        }
      }
    }
  }
}

//FORM
.form {
  // width: 100%;
  margin-top: 100px;
  .form-label {
    color: $black;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    .form-label {
      color: $black;
      font-size: 20px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input {
      border-radius: 6px;
      padding: 10px 16px;
      border: none;
      width: 100%;
      line-height: 46px;
      box-sizing: border-box;
      color: $black;
      appearance: none;
      background: $white-gray;
      font-family: Fraunces, serif;
      font-size: 20px;
      margin-top: 8px;
    }
    input::placeholder {
      font-size: 20px;
      color: $gray;
    }
    input:focus {
      border: 2.5px solid $primary-color;
    }

    textarea {
      padding: 10px 16px;
      border-radius: 6px;
      border: none;
      font-size: 20px;
      color: $black;
      appearance: none;
      background: $white-gray;
      font-family: Fraunces, serif;
      height: 200px;
      margin-top: 8px;
    }
    textarea::placeholder {
      font-size: 20px;
      color: $gray;
    }
    textarea:focus {
      border: 2.5px solid $primary-color;
    }
    .inner-form {
      flex-wrap: wrap;
      align-items: stretch;
      span {
        z-index: 1;
        position: absolute;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 26px;
        font-size: 20px;
        i {
          img {
            width: 32px;
            height: 32px;
            color: $primary-color;
          }
        }
      }
      &.left-icon {
        display: flex;
        justify-content: flex-end;
      }
      &.right-icon {
        display: flex;
        justify-content: flex-start;
      }
      .input-right-icon {
        position: relative;
        padding-left: 40px;
      }
      .input-left-icon {
        position: relative;
        padding-right: 40px;
        float: right;
        width: 100%;
      }
    }
  }
  .button-form {
    height: 62px;
    width: 100%;
    border-radius: 16px;
    padding: 16px 32px 16px 32px;
    margin-top: 64px;
  }
}

.form-contact {
  display: flex;
  width: 100%;
  gap: 32px;
  @include query(mobile) {
    flex-direction: column;
    gap: 0;
  }
  .form-control {
    width: 100%;
  }
}

//Homepage
.hero {
  padding-top: 60px;
  & &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    @include query(tablet) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 60px;
    }

    .hero-title {
      max-width: 50%;
      @include query(m-tablet) {
        max-width: 100%;
      }
      p {
        margin-bottom: 6px;
        color: $secondary-color;
        @include query(mobile) {
          text-align: center;
        }
        @include query(tablet) {
          text-align: center;
        }
      }
      h1 {
        margin-bottom: 32px;
        color: $primary-color;
        @include query(mobile) {
          text-align: center;
        }
        @include query(tablet) {
          text-align: center;
        }
      }
    }

    .hero-image {
      img {
        width: 100%;
        height: 432px;
        @include query(tablet) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.hero-content-first {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-one {
    display: flex;
    @include query(mobile) {
      flex-wrap: wrap;
    }
    @include query(tablet) {
      flex-wrap: wrap;
    }
    @include query(s-desktop) {
      flex-wrap: wrap;
    }
    .title-content {
      max-width: 70%;
      @include query(mobile) {
        max-width: 100%;
      }
      @include query(tablet) {
        max-width: 100%;
      }
      h5 {
        font-weight: 600;
      }
      h1 {
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 16px;
        @include query(tablet) {
          font-size: 40px;
          max-width: 100%;
        }
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
        @include query(tablet) {
          font-size: 16px;
        }
      }
      .content-text {
        color: $secondary-color;
      }
      .title-button {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          width: 24px;
          height: 24px;
        }
        p {
          font-weight: 600;
          color: $primary-color;
        }
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      @include query(mobile) {
        margin-top: 32px;
      }
      @include query(tablet) {
        margin-top: 32px;
      }
      @include query(s-desktop) {
        margin-top: 32px;
      }
      .wrapper-card {
        .card-profile {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 24px;
          img {
            width: 64px;
            height: 64px;
          }
          .card-title {
            .prfile-name {
              font-weight: 600;
            }
            .profile-job {
              color: $primary-color;
            }
          }
        }
        .desc-card {
          color: $gray;
        }
      }
    }
  }
  .wrapper-content-two {
    margin-top: 70px;
    .wrapper-image {
      img {
        width: 100%;
        height: 100%;
        @include query(mobile) {
          display: none;
        }
      }
      .sosmed {
        display: flex;
        flex-direction: column;
        gap: 18px;

        position: absolute;
        z-index: 1;
        margin-left: 32px;
        margin-top: -137px;

        @include query(tablet) {
          margin-top: -100px;
        }
        .sosmed-text {
          p {
            font-weight: 600;
            color: $white;
          }
        }
        .sosmed-image {
          display: flex;
          gap: 28px;
          img {
            width: 63px;
            height: 63px;
            @include query(tablet) {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

.hero-content-second {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-second {
    .title-content {
      max-width: 70%;
      @include query(tablet) {
        max-width: 100%;
      }
      h5 {
        font-weight: 600;
      }
      h1 {
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 16px;
        @include query(tablet) {
          font-size: 40px;
          max-width: 100%;
        }
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
        @include query(tablet) {
          font-size: 16px;
        }
      }
      .content-text {
        color: $secondary-color;
      }
    }
  }
  .wrapper-content-card {
    margin-top: 90px;
    hr {
      margin-top: 40px;
      margin-bottom: 40px;
      border: 2px $gray solid;
    }
    .wrapper-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include query(mobile) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      @include query(tablet) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      @include query(s-desktop) {
        flex-wrap: wrap;
      }
      img {
        width: 400px;
        height: 150px;
        @include query(s-desktop) {
          width: 100%;
          height: 100%;
          margin-bottom: 32px;
        }
      }
      h3 {
        font-weight: 700;
        @include query(s-desktop) {
          margin-bottom: 32px;
        }
      }
    }
  }
}

.hero-content-third {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-third {
    .title-content {
      max-width: 70%;
      @include query(tablet) {
        max-width: 100%;
      }
      h5 {
        font-weight: 600;
      }
      h1 {
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 16px;
        @include query(tablet) {
          font-size: 40px;
          max-width: 100%;
        }
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
        @include query(tablet) {
          font-size: 16px;
        }
      }
      .content-text {
        color: $secondary-color;
      }
    }
    .wrapper-content-card {
      margin-top: 125px;
      .content-card {
        display: flex;
        // justify-content: space-between;
        gap: 24px;
        img {
          width: 386px;
          height: 386px;
        }
      }
    }
    .button-content {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      button {
        width: 291px;
      }
    }
  }
}

//Project
//banner hero project
.hero-banner-porto {
  .text-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    //position
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20vh;

    @include query(m-tablet) {
      margin-top: 64px;
    }
    @include query(tablet) {
      margin-top: 90px;
    }
    @include query(mobile) {
      margin-top: 40px;
    }
    h5 {
      color: $white;
    }
    h1 {
      font-size: 100px;
      font-weight: 600;
      color: $white;
      line-height: 123.3px;
      margin-top: 32px;
      margin-bottom: 32px;
      .text-span {
        color: #dcb21d;
      }
      @include query(m-tablet) {
        font-size: 64px;
        line-height: 90px;
      }
      @include query(tablet) {
        font-size: 50px;
        line-height: 80px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      @include query(mobile) {
        font-size: 24px;
        line-height: 38px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
    h4 {
      color: $gray;
      font-style: italic;
      line-height: 39px;
      @include query(m-tablet) {
        font-size: 24px;
        line-height: 32px;
      }
      @include query(tablet) {
        font-size: 18px;
        line-height: 32px;
      }
      @include query(mobile) {
        font-size: 9px;
        line-height: 24px;
      }
    }
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.hero-content-project {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  @include query(tablet) {
    margin-top: 100px;
  }
  @include query(mobile) {
    margin-top: 64px;
  }
  .wrapper-content-project {
    .title-content {
      // max-width: 70%;
      @include query(tablet) {
        max-width: 100%;
      }
      h5 {
        font-weight: 600;
      }
      h1 {
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 16px;
        @include query(tablet) {
          font-size: 40px;
          max-width: 100%;
        }
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
        max-width: 70%;
        @include query(tablet) {
          font-size: 16px;
        }
      }
      .content-text {
        color: $secondary-color;
      }
    }
    .wrapper-content-card {
      margin-top: 64px;
      .content-card {
        display: flex;
        justify-content: flex-start;
        gap: 24px;
        img {
          width: 386px;
          height: 386px;
        }
      }
    }
    .button-content {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      button {
        width: 291px;
      }
    }
  }
}

//Contact
.wrapper-contact {
  margin-top: 100px;
  .title-contact {
    h2 {
      font-weight: 700;
    }
    p {
      margin-top: 16px;
      color: $gray;
    }
    .sosmed-image {
      margin-top: 60px;
      display: flex;
      gap: 28px;
      img {
        width: 63px;
        height: 63px;
      }
    }
  }
  .input-content {
  }
}

//Slider Content
.splide {
  margin-top: 64px;
  .splide__track {
    .splide__list {
      .splide__slide {
        .splide__slide__container {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

// MAIN PROFILE
.main-profile {
  .profile-content {
    .profile-banner {
      img {
        width: 100%;
        height: 100%;
      }
    }
    .profile-content-image {
      display: flex;
      @include query(m-tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .profile-photo {
        position: absolute;
        margin-top: -200px;

        img {
          width: 387px;
          height: 387px;
        }
        @include query(m-tablet) {
          position: static;
          margin-top: -150px;
          img {
            width: 287px;
            height: 287px;
          }
        }
        @include query(tablet) {
          position: static;
          margin-top: -80px;
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
      .profile-name {
        margin-top: 40px;
        margin-left: 420px;
        @include query(m-tablet) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;
          margin-left: 0 !important;
        }
        h2 {
          margin-bottom: 8px;
        }
        .sosmed-image {
          margin-top: 16px;
          margin-bottom: 24px;
          display: flex;
          gap: 28px;
          img {
            width: 38px;
            height: 38px;
          }
        }
        .profile-button {
          display: flex;
          flex-wrap: wrap;
          gap: 24px;
          @include query(m-tablet) {
            justify-content: center;
            align-items: center;
            text-align: center;

            gap: 16px;
          }
          .button-icon {
            button {
              width: 295px;
              height: 62px;
              font-weight: 600;
              @include query(m-tablet) {
                width: 195px;
                height: 42px;
                font-size: 16px;
              }
            }
            .cv {
              width: 295px;
              @include query(m-tablet) {
                width: 195px;
              }
            }
            .text-button {
              img {
                margin-right: 16px;
                @include query(m-tablet) {
                  width: 18px;
                  height: 18px;
                }
              }
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
  .profile-card {
    margin-top: 64px;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    box-shadow: 4px 7px 8px 4px rgba(0, 0, 0, 0.25);
    .container-card {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 64px;
      padding-right: 64px;
      @include query(m-tablet) {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 32px;
      }
      .title-card {
        font-weight: 600;
      }

      //about me
      .text-card {
        margin-top: 32px;
        .text-about {
          text-align: justify;
          @include query(mobile) {
            font-size: 12px;
          }
        }
      }

      //Penglamanan
      .content-card-flex {
        display: flex;
        margin-top: 50px;
        @include query(m-tablet) {
          margin-top: 32px;
        }
        .image-content {
          margin-right: 24px;
          @include query(m-tablet) {
            margin-top: 10px;
            margin-right: 16px;
          }
          img {
            width: 100px;
            height: 100px;
            @include query(m-tablet) {
              width: 50px;
              height: 50px;
            }
            @include query(mobile) {
              width: 40px;
              height: 40px;
            }
          }
        }
        .text-content {
          display: flex;
          flex-direction: column;
          h4 {
            font-weight: 600;
          }
          h5 {
            margin-top: 4px;
          }
          .body-text-4 {
            font-weight: 300;
            margin-top: 8px;
          }
          .semi-bold {
            font-weight: 400;
            margin-top: 16px;
            margin-bottom: 20px;
          }
          .number {
            font-weight: 400;
          }
          .desc-text {
            margin-top: 32px;
            display: flex;
            gap: 16px;
            flex-direction: column;
            margin-left: 32px;
            @include query(m-tablet) {
              margin-top: 20px;
              margin-left: 16px;
              gap: 10px;
              .body-text-4 {
                margin-top: 0px;
              }
            }
            li {
              font-weight: 300;
            }
          }
          .link-project {
            display: flex;
            margin-top: 8px;
            margin-bottom: 20px;
            p {
              font-size: 20px;
              color: $gray;
              margin-right: 8px;
              @include query(tablet) {
                font-size: 14px;
              }
            }
            img {
              margin-top: 2px;
              width: 24px;
              height: 24px;
              @include query(tablet) {
                margin-top: 3px;
                width: 12px;
                height: 12px;
              }
            }
          }
          .image-course {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
            .project-1 {
              display: flex;
              flex-direction: column;
              gap: 8px;
              img {
                width: 166px;
                height: 118px;
                transition: transform 0.2s; /* Animation */
              }
              img:hover {
                transform: scale(
                  1.5
                ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
              }
              a {
                text-decoration: underline;
              }
              a:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }
      hr {
        margin-top: 50px;
        margin-bottom: 50px;
        border: 2px solid $gray;
      }
    }
  }
}

.project-view {
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 20px;
    li + li:before {
      color: $secondary-color;
      content: "/\00a0";
      font-weight: 600;
    }
    a {
      color: $gray;
      text-decoration: none;
    }
    a:hover {
      color: $secondary-color;
      text-decoration: underline;
    }
    .name-project {
      font-weight: 600;
      color: $secondary-color;
    }
  }
}

// Project View
.hero-content-project-tes {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-project {
    .splide__arrow{
      @include query(tablet) {
        display: none !important;
        width: 32px;
        height: 32px;
        svg{
          width: 16px;
          height: 16px;
        }
      }
    }
    .title-content {
      // max-width: 70%;
      h5,
      h1 {
        font-weight: 600;
      }
      h1 {
        margin-bottom: 16px;
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .content-text {
        color: $secondary-color;
      }
    }
    .wrapper-content-card {
      margin-top: 64px;
      .content-card {
        display: flex;
        justify-content: flex-start;
        gap: 24px;
        img {
          width: 1800px;
          height: 386px;
        }
      }
    }
    .button-content {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      button {
        width: 291px;
      }
    }
  }
}

.container-project-view {
  margin-top: 150px;
  .content-project-view {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .image-title {
      img {
        border-radius: 16px;
        @include query(mobile) {
          width: 100px;
          height: 100px;
        }
      }
    }
    .project-title {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h1 {
        color: $primary-color;
        font-weight: 600;
        @include query(tablet) {
          font-size: 40px;
        }
        @include query(mobile) {
          font-size: 32px;
        }
      }
      h5 {
        color: $gray;
        font-weight: 600;
      }
    }
    .sosmed-image {
      display: flex;
      flex-wrap: wrap;
      gap: 28px;
      img {
        width: 38px;
        height: 38px;
      }
    }
    .desc-title {
      p {
        text-align: justify;
      }
    }
    .ul-title {
      margin-left: 16px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        li {
          font-weight: 300;
        }
      }
    }
  }
  .button-project-view{
    margin-top: 80px;
    button {
      padding: 16px 32px;
      gap: 32px;
      width: 239px;
      height: 62px;
      background: $primary-color;
      border-radius: 16px;
      @include query(mobile) {
        width: 100%;
      }
    }
    button:hover{
      background-color: $secondary-color;
    }
  }
}
