@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap");

$font-stack: Fraunces, serif;
$primary-color: #576f72;
$secondary-color: #7d9d9c;
$third-color: #e4dccf;
$fourth-color: #f0ebe3;

$black: #494949;
$white: #ffffff;
$gray: #bcbcbc;

$white-gray: #ededed;

// TYPOGRAPHY
// ==================================================//
$base-heading-size: 16px;
$heading-scale: 8;
$base-font-size: 16px;
$font-scale: 2;

body {
  font: 100% $font-stack;
  color: $black;
}
.title-component {
  color: $primary-color;
}

.h1 {
  font-size: $base-heading-size + $heading-scale * 9.25;
  font-style: italic;
  font-weight: 457;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 50, "WONK" 0.51;
}
h1 {
  font-size: 64px;
}

.sub-heading {
  font-size: 24px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}
.sub-heading-second {
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0em;
  font-variation-settings: "SOFT" 0, "WONK" 1;
}

@for $i from 2 through 6 {
  h#{$i} {
    font-size: $base-heading-size + $heading-scale * (6 - $i);
  }
}
@for $i from 1 through 6 {
  .body-text-#{$i} {
    font-size: $base-font-size + $font-scale * (6 - $i);
  }
}

hr {
  margin-top: 70px;
  margin-bottom: 32px;
}
// ===============================
// Buttons
button {
  border-radius: 40px;
  height: 62px;
  width: 195px;
  text-align: center;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: Fraunces;
  background: $primary-color;
  color: $white;
  &:hover {
    background-color: $secondary-color;
    color: $white-gray;
  }
}
// COLOR

.color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & &-primary {
    background-color: $primary-color;
    width: 200px;
    height: 200px;
  }
  & &-secondary {
    background-color: $secondary-color;
    width: 200px;
    height: 200px;
  }
  & &-third {
    background-color: $third-color;
    width: 200px;
    height: 200px;
  }
  & &-fourth {
    background-color: $fourth-color;
    width: 200px;
    height: 200px;
  }
  & &-black {
    background-color: $black;
    width: 200px;
    height: 200px;
  }
  & &-white {
    background-color: $white;
    width: 200px;
    height: 200px;
    border: 2px solid $black;
  }
  & &-gray {
    background-color: $gray;
    width: 200px;
    height: 200px;
  }
  & &-gray-white {
    background-color: $white-gray;
    width: 200px;
    height: 200px;
  }
}

//Homepage
// CONTAINER

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1, 5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.themed-container {
  background-color: gray;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}
// NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  margin-bottom: 46px;
  & &-image {
  }
  & &-content {
    display: flex;
    gap: 32px;
    .active {
      font-weight: 700;
      color: $primary-color;
      text-decoration: underline;
    }
    h5:hover {
      font-weight: 700;
      color: $primary-color;
      text-decoration: underline;
    }
  }
  & &-button {
  }
}
// FOOTER
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: $primary-color;
  padding: 70px;
  margin-top: 120px;
  & &-content {
    h3 {
      margin-top: 16px;
      color: $white;
    }
    h5 {
      margin-top: 16px;
      color: $gray;
    }
    button {
      margin-top: 40px;
      background-color: $white;
      color: $primary-color;
    }
    button:hover {
      background-color: $secondary-color;
      color: $white;
    }
    .footer-image {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      p {
        color: $white;
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      p {
        color: $white;
      }
      .footer-sosmed {
        display: flex;
        gap: 16px;
      }
    }
  }
}

//FORM
.form {
  // width: 100%;
  margin-top: 100px;
  .form-label {
    color: $black;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    .form-label {
      color: $black;
      font-size: 20px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input {
      border-radius: 6px;
      padding: 10px 16px;
      border: none;
      width: 100%;
      line-height: 46px;
      box-sizing: border-box;
      color: $black;
      appearance: none;
      background: $white-gray;
      font-family: Fraunces, serif;
      font-size: 20px;
      margin-top: 8px;
    }
    input::placeholder {
      font-size: 20px;
      color: $gray;
    }
    input:focus {
      border: 2.5px solid $primary-color;
    }

    textarea {
      padding: 10px 16px;
      border-radius: 6px;
      border: none;
      font-size: 20px;
      color: $black;
      appearance: none;
      background: $white-gray;
      font-family: Fraunces, serif;
      height: 200px;
      margin-top: 8px;
    }
    textarea::placeholder {
      font-size: 20px;
      color: $gray;
    }
    textarea:focus {
      border: 2.5px solid $primary-color;
    }
    .inner-form {
      flex-wrap: wrap;
      align-items: stretch;
      span {
        z-index: 1;
        position: absolute;
        // width: 32px;

        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 26px;
        font-size: 20px;
        i {
          img {
            width: 32px;
            height: 32px;
            color: $primary-color;
          }
        }
      }
      &.left-icon {
        display: flex;
        justify-content: end;
      }
      &.right-icon {
        display: flex;
        justify-content: start;
      }
      .input-right-icon {
        position: relative;
        padding-left: 40px;
      }
      .input-left-icon {
        position: relative;
        padding-right: 40px;
        float: right;
        width: 100%;
      }
    }
  }
  .button-form {
    height: 62px;
    width: 445px;
    border-radius: 16px;
    padding: 16px 32px 16px 32px;

    margin-top: 64px;
  }
}

.form-contact {
  display: flex;
  width: 100%;
  gap: 32px;
  .form-control {
    width: 50%;
  }
}

//Homepage
.hero {
  padding-top: 60px;
  & &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hero-title {
      p {
        margin-bottom: 6px;
        color: $secondary-color;
      }
      h1 {
        margin-bottom: 32px;
        color: $primary-color;
      }
    }

    .hero-image {
      img {
        width: 576px;
        height: 432px;
      }
    }
  }
}
.hero-content-first {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-one {
    display: flex;
    .title-content {
      max-width: 70%;
      h5,
      h1 {
        font-weight: 600;
      }
      h1 {
        margin-top: 8px;
        margin-bottom: 16px;
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .content-text {
        color: $secondary-color;
      }
      .title-button {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          width: 24px;
          height: 24px;
        }
        p {
          font-weight: 600;
          color: $primary-color;
        }
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
      .wrapper-card {
        .card-profile {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 24px;
          img {
            width: 64px;
            height: 64px;
          }
          .card-title {
            .prfile-name {
              font-weight: 600;
            }
            .profile-job {
              color: $primary-color;
            }
          }
        }
        .desc-card {
          color: $gray;
        }
      }
    }
  }
  .wrapper-content-two {
    margin-top: 70px;
    .wrapper-image {
      img {
        width: 100%;
        height: 348px;
      }
      .sosmed {
        display: flex;
        flex-direction: column;
        gap: 18px;

        position: absolute;
        z-index: 1;
        margin-left: 32px;
        margin-top: -137px;
        .sosmed-text {
          p {
            font-weight: 600;
            color: $white;
          }
        }
        .sosmed-image {
          display: flex;
          gap: 28px;
          img {
            width: 63px;
            height: 63px;
          }
        }
      }
    }
  }
}

.hero-content-second {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-second {
    .title-content {
      max-width: 70%;
      h5,
      h1 {
        font-weight: 600;
      }
      h1 {
        margin-top: 8px;
        margin-bottom: 16px;
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .content-text {
        color: $secondary-color;
      }
    }
  }
  .wrapper-content-card {
    margin-top: 90px;
    hr {
      margin-top: 40px;
      margin-bottom: 40px;
      border: 2px $gray solid;
    }
    .wrapper-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 400px;
        height: 150px;
      }
      h3 {
        font-weight: 700;
      }
    }
  }
}

.hero-content-third {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-third {
    .title-content {
      max-width: 70%;
      h5,
      h1 {
        font-weight: 600;
      }
      h1 {
        margin-top: 8px;
        margin-bottom: 16px;
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .content-text {
        color: $secondary-color;
      }
    }
    .wrapper-content-card {
      margin-top: 125px;
      .content-card {
        display: flex;
        // justify-content: space-between;
        gap: 24px;
        img {
          width: 386px;
          height: 386px;
        }
      }
    }
    .button-content {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      button {
        width: 291px;
      }
    }
  }
}

//Project
//banner hero project
.hero-banner-porto {
  .text-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    //position
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20vh;
    h5 {
      color: $white;
    }
    h1 {
      font-size: 100px;
      font-weight: 600;
      color: $white;
      line-height: 123.3px;

      margin-top: 32px;
      margin-bottom: 32px;
      .text-span {
        color: #dcb21d;
      }
    }
    h4 {
      color: $gray;
      font-style: italic;
      line-height: 39px;
    }
  }
  img {
    height: 100vh;
    width: 100%;
  }
}

.hero-content-project {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  .wrapper-content-project {
    .title-content {
      // max-width: 70%;
      h5,
      h1 {
        font-weight: 600;
      }
      h1 {
        margin-bottom: 16px;
      }
      .text-title {
        color: $gray;
        font-weight: 400;
        margin-bottom: 24px;
      }
      .content-text {
        color: $secondary-color;
      }
    }
    .wrapper-content-card {
      margin-top: 64px;
      .content-card {
        display: flex;
        justify-content: start;
        gap: 24px;
        img {
          width: 386px;
          height: 386px;
        }
      }
    }
    .button-content {
      display: flex;
      justify-content: center;
      margin-top: 100px;
      button {
        width: 291px;
      }
    }
  }
}

//Contact
.wrapper-contact {
  margin-top: 100px;
  .title-contact {
    h2 {
      font-weight: 700;
    }
    p {
      margin-top: 16px;
      color: $gray;
    }
    .sosmed-image {
      margin-top: 60px;
      display: flex;
      gap: 28px;
      img {
        width: 63px;
        height: 63px;
      }
    }
  }
  .input-content {
  }
}

.splide {
  margin-top: 64px;
  .splide__track {
    .splide__list {
      .splide__slide {
        .splide__slide__container {
          img {
            width: 386px;
            height: 386px;
          }
        }
      }
    }
  }
}
